[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fuzzywuzzy = {extras = ["speedup"],version = "*"}
playsound = "*"
regex = "*"
requests = "*"
PyGObject = "*"

[requires]
python_version = "3.8"
